ASP_CONSUME_SERVICE/ASP_CONSUME_SERVICE/Connected Services/WFC_NORTHWND/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50790/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_NORTHWND" />
  <xs:import schemaLocation="http://localhost:50790/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NORTHWND.Models" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_NORTHWND" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_NORTHWND" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="categoria" nillable="true" type="q3:categoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="selectCategoryResult" nillable="true" type="q4:categoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="selectAllCategoryResult" nillable="true" type="q5:ArrayOfcategoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="categoria" nillable="true" type="q6:categoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="categoria" nillable="true" type="q7:categoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="categoria" nillable="true" type="q8:categoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchNameCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="categoria" nillable="true" type="q9:categoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchNameCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="searchNameCategoryResult" nillable="true" type="q10:ArrayOfcategoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDescriptionCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="categoria" nillable="true" type="q11:categoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDescriptionCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NORTHWND.Models" minOccurs="0" name="searchDescriptionCategoryResult" nillable="true" type="q12:ArrayOfcategoriaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>