ASP_CONSUME_SERVICE/ASP_CONSUME_SERVICE/Connected Services/WFC_NORTHWND/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NORTHWND.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NORTHWND.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="categoriaModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="categoriaModel" nillable="true" type="tns:categoriaModel" />
  <xs:complexType name="ArrayOfcategoriaModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="categoriaModel" nillable="true" type="tns:categoriaModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcategoriaModel" nillable="true" type="tns:ArrayOfcategoriaModel" />
</xs:schema>