ASP_CONSUME_SERVICE/ASP_CONSUME_SERVICE/Connected Services/WFC_NORTHWND/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50790/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50790/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50790/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_NORTHWND" />
      <xsd:import schemaLocation="http://localhost:50790/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NORTHWND.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_selectCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:selectCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_selectCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_selectAllCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_selectAllCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAllCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_insertCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchNameCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:searchNameCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_searchNameCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchNameCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchDescriptionCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:searchDescriptionCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_searchDescriptionCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchDescriptionCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/selectCategory" message="tns:IService1_selectCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/selectCategoryResponse" message="tns:IService1_selectCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/selectAllCategory" message="tns:IService1_selectAllCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/selectAllCategoryResponse" message="tns:IService1_selectAllCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertCategory" message="tns:IService1_insertCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertCategoryResponse" message="tns:IService1_insertCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateCategory" message="tns:IService1_updateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateCategoryResponse" message="tns:IService1_updateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteCategory" message="tns:IService1_deleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteCategoryResponse" message="tns:IService1_deleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchNameCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchNameCategory" message="tns:IService1_searchNameCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchNameCategoryResponse" message="tns:IService1_searchNameCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchDescriptionCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchDescriptionCategory" message="tns:IService1_searchDescriptionCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchDescriptionCategoryResponse" message="tns:IService1_searchDescriptionCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/selectCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/selectAllCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/insertCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/updateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchNameCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/searchNameCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchDescriptionCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/searchDescriptionCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50790/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>